body 
{
    background-color: gray
}
section {
    float: right;
    margin: 0 1.5%;
    width: 25%;
  }
h1{
    background-color: red
}
h2{
    color: red
}
h4 {
    color: red
}
h3 {
    color: red
}
h1{
    color: blue
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#message {
    height: 50px;
}
.submit-form {
    color: blue
}